<div class="container-fluid">
        <div class="row">
            <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
                <!-- Author Form -->
                <div class="form-group">
                    <label for="author">Author:</label><br>
                    <input type="text"  class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>                   
                    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                        <p>Author is required</p>                       
                    </div>
                </div>
                <br>
                <!-- quote Input -->
                <div class="form-group">
                    <label for="quote">Quote:</label><br>
                    <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
                    <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                        <p> A quote is required</p>                        
                    </div>
                </div>
                <br>
                <!-- name Input -->
                <div class="form-group">
                    <label for="name">Submitted by:</label><br>
                    <input type='text' id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required >
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        <p> Submitter is Required</p>
                        
                    </div>
                </div>
                <br>
                <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
                <br>
            </form>
        </div>
    </div>